<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>okarabiacomments WS Webapp</display-name>
	<description>okarabiacomments WS Webapp</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
               classpath:applicationContext-ws.xml
           </param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Remote web services -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>com.pearlox.varaza.cxf.CXFServletExt</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>oemiv</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>oemiv</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  OAuth 2.0 filter-->
	<filter>
		<filter-name>oauth2Filter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>oauth2Filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>


</web-app>
